.class1 {background-color: rgb(16, 76, 110);}
.class2 {background-color: rgb(189, 62, 189)}
.class3 {background-color: red;}

.identifyFieldset{
    background-color : blue;
}


.identityFieldset {
    background-color: blue;
}
.deliveryFieldset {
    background-color: violet;
}
.paymentFieldset {
    background-color: pink;
} 
